@font-face {
  font-family: "iconfont"; /* Project id 2906230 */
  src: url('iconfont.woff2?t=1640054423980') format('woff2'),
       url('iconfont.woff?t=1640054423980') format('woff'),
       url('iconfont.ttf?t=1640054423980') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anjianfengexian:before {
  content: "\e680";
}

.icon-758bianjiqi_fengexian:before {
  content: "\e653";
}

.icon-tupian:before {
  content: "\e61a";
}

.icon-yinle:before {
  content: "\e72a";
}

.icon-ditu:before {
  content: "\e68b";
}

.icon-ditu1:before {
  content: "\e614";
}

.icon-shipin:before {
  content: "\e812";
}

.icon-tupianlunbo:before {
  content: "\e6c6";
}

.icon-wenben:before {
  content: "\e60b";
}

.icon-radio-button-on-outline:before {
  content: "\e7e6";
}

.icon-juxing:before {
  content: "\e8e8";
}

.icon-tupianlunbo1:before {
  content: "\e656";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-nan:before {
  content: "\e8b3";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-back:before {
  content: "\e622";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-shuaxin:before {
  content: "\e61b";
}

.icon-xiezi:before {
  content: "\e60e";
}

.icon-bofang_o:before {
  content: "\eb5e";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-shuaxin1:before {
  content: "\e616";
}

.icon-shouji:before {
  content: "\e639";
}

.icon-xiazai:before {
  content: "\e652";
}

.icon-shanchu:before {
  content: "\e816";
}

.icon-xiazai1:before {
  content: "\e617";
}

.icon-mokuai-qianyibu:before {
  content: "\e64b";
}

